# environment files typically containing secrets
*.env
!example.env

# directories created by developer tools
.idea/

# dependency directories
node_modules/

# config files that typically contain sensitive information
idp-cli.toml
idp-cli.json
idp-cli.yaml

# build artifacts
dist/
